.git
.gitignore
.github
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.venv/
**/node_modules/
**/dist/
**/.DS_Store
**/.env
**/.env.*

reports/
notebooks/
docs/
apps/frontend/dist
apps/frontend/node_modules
apps/api/.venv
